<!DOCTYPE html>
<html>
<head>
    <title>Topsy Turvy Cake Design</title>
    <link rel="stylesheet" href="~/site.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>

    <header class="container site-header">
        <div class="row">
            <h1 class="main-logo"><a href="/">Topsy Turvy Cake Design</a></h1>
        </div>
        <div class="row">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="/About">About</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a class="active" href="/">Recipes</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <ul class="nav nav-pills">
                    <li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/Account/Login">Login</a> 
                        }
                        else
                        {
                            <form method="POST">
                                <div class="input-group">
                                    <span>@User.Identity.IsAuthenticated</span>
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </div>
                            </form>
                        }
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            @if (IsSectionDefined("Title"))
            {
                @RenderSection("Title", false)
            } else
            {
                <h1>@ViewData["Title"]</h1>
            }

        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="text-center">
            <span class="text-muted">Last Rendered: @DateTime.Now </span>
        </div>
    </footer>
</body>
</html>